/dts-v1/;

/ {
	model = "mimas_v2";
	compatible = "jcore,j2-soc";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&aic>;

	chosen {
		stdout-path = "/soc@abcd0000/serial";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;


		cpu@0 {
			device_type = "cpu";
			compatible = "jcore,j2";
			clock-frequency = <50000000>;
			reg = <0>;
		};
	};

	clocks {

		bus_clock: bus_clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <50000000>;
		};
	};

	memory@10000000 {
		device_type = "memory";
		reg = <0x10000000 0x4000000>;
	};

	soc@abcd0000 {
		compatible = "simple-bus";
		ranges = <0x0 0xabcd0000 0x240>;
		#address-cells = <1>;
		#size-cells = <1>;

		timer {
			compatible = "jcore,pit";
			reg = <0x200 0x30>;
			interrupts = <0x10>;
		};

		aic: interrupt-controller {
			#interrupt-cells = <1>;
			compatible = "jcore,aic1";
			interrupt-controller;
			reg = <0x200 0x40>; // ABCD0200-ABCD023F
		};

		cache-controller {
			compatible = "jcore,cache";
			cpu-offset = <4>;
			reg = <0xc0 0x40>; // ABCD00C0-ABCD00FF
		};

		gpio {
			#gpio-cells = <2>;
			compatible = "jcore,gpio1";
			gpio-controller;
			reg = <0x0 0x10>; // ABCD0000-ABCD000F
			interrupts = <0x15>;
		};

		serial {
			compatible = "jcore,uartlite", "xlnx,xps-uartlite-1.00.a";
			current-speed = <19200>;
			device_type = "serial";
			port-number = <0>;
			reg = <0x100 0x10>; // ABCD0100-ABCD010F
			interrupts = <0x12>;
		};

		spi {
			#address-cells = <1>;
			#size-cells = <0>;
			clock-names = "ref_clk";
			clocks = <&bus_clock>;
			compatible = "jcore,spi2";
			spi-max-frequency = <25000000>;
			status = "ok";
			reg = <0x40 0x8>; // ABCD0040-ABCD0047

			sdcard@0 {
				compatible = "mmc-spi-slot";
				reg = <0>;
				spi-max-frequency = <25000000>;
				voltage-ranges = <3200 3400>;
				mode = <0>;
			};

			m25p80@1 {
				compatible = "s25fl164k", "jedec,spi-nor";
				#address-cells = <1>;
				#size-cells = <1>;
				spi-max-frequency = <25000000>;
				reg = <1>;
				mode = <0>;
				m25p,fast-read;

				partition@0 {
					label = "spi_flash";
					reg = <0 0>;
				};
			};
		};
	};

	cpuid {
		compatible = "jcore,cpuid-mmio";
		reg = <0xabcd0600 0x4>;
	};
};
