{:target :spartan6
 :plugins #import "../default_plugins.edn"
 :pins {:file "../pins/mimas_v2.pins"
        :type :pin-names
        :rules
        [
         ;; Default to LVCMOS33 for all pins and then override for
         ;; certain pins later
         {:match ".*" :attrs {:iostandard "LVCMOS33"}}

         {:match "clk_100mhz" :signal true :buff false}

         {:match "uart_tx" :signal "uart0_rx"}
         {:match "uart_rx" :signal "uart0_tx" :attrs {:drive 8 :slew "fast"}}
         {:match "spi_.*" :attrs {:drive 8 :slew "fast"}}
         ;; never select on board flash
         {:match "spi_cs" :out 1}

         ;; ddr pins
         {:match "mcb3_dram_.*" :attrs {:iostandard "MOBILE_DDR"}}
         ;; addresses
         {:match ["mcb3_dram_a" n] :signal ["ddr_sd_ctrl.a(" n ")"]}
         {:match ["mcb3_dram_ba" n] :signal ["ddr_sd_ctrl.ba(" n ")"]}
         ;; clock
         {:match "mcb3_dram_ck[_n]?" :attrs {:iostandard "DIFF_MOBILE_DDR"}}
         {:match "mcb3_dram_ck_n" :signal {:name "ddr_clk" :diff :neg}}
         {:match "mcb3_dram_ck" :signal {:name "ddr_clk" :diff :pos}}
         {:match "mcb3_dram_cke" :signal "ddr_sd_ctrl.cke"}
         ;; control
         {:match "mcb3_dram_cas_n" :signal "ddr_sd_ctrl.cas"}
         {:match "mcb3_dram_ras_n" :signal "ddr_sd_ctrl.ras"}
         {:match "mcb3_dram_we_n" :signal "ddr_sd_ctrl.we"}
         ;; data
         {:match ["mcb3_dram_dq" n]
          :in ["dr_data_i.dqi(" n ")"]
          :out ["dr_data_o.dqo(" n ")"]
          :out-en ["dr_data_o.dq_outen(" n ")"]}
         {:match "mcb3_dram_ldm"
          :out "dr_data_o.dmo(0)"
          :out-en "dr_data_o.dq_outen(16)"}
         {:match "mcb3_dram_udm"
          :out "dr_data_o.dmo(1)"
          :out-en "dr_data_o.dq_outen(17)"}
         {:match "mcb3_dram_ldqs"
          :in "dr_data_i.dqsi(0)"
          :out "dr_data_o.dqso(0)"
          :out-en "dr_data_o.dqs_outen(0)"}
         {:match "mcb3_dram_udqs"
          :in "dr_data_i.dqsi(1)"
          :out "dr_data_o.dqso(1)"
          :out-en "dr_data_o.dqs_outen(1)"}

         {:match ["dpswitch" n] :attrs {:pullup true}}
         {:match ["switch" n] :attrs {:pullup true}}
         {:match ["led" n] :attrs {:drive 8 :slew "fast"} :out ["po(" n ")"]}

         {:match "sd_miso" :signal "flash_miso"}
         {:match "sd_mosi" :signal "flash_mosi" :attrs {:drive 8 :slew "fast"}}
         {:match "sd_cs" :signal "flash_cs(0)" :attrs {:drive 8 :slew "fast"}}
         {:match "sd_clk" :signal "flash_clk" :attrs {:drive 8 :slew "fast"}}

         {:match ["sevensegment" n] :attrs {:drive 8 :slew "fast"}}
         {:match "sevensegment0" :out "po(8)"}
         {:match "sevensegment1" :out "po(9)"}
         {:match "sevensegment2" :out "po(10)"}
         {:match "sevensegment3" :out "po(11)"}
         {:match "sevensegment4" :out "po(12)"}
         {:match "sevensegment5" :out "po(13)"}
         {:match "sevensegment6" :out "po(14)"}
         {:match "sevensegment7" :out "po(15)"}
         {:match "sevensegmentenable0" :out "po(16)"}
         {:match "sevensegmentenable1" :out "po(17)"}
         {:match "sevensegmentenable2" :out "po(18)"}

         {:match "audio_.*" :attrs {:drive 8 :slew "fast"}}
         {:match "vga_.*" :attrs {:drive 8 :slew "fast"}}

         {:match ["io_p" n "_" m] :signal ["io_p" n "(" m ")"]
          :attrs {:drive 8 :slew "fast"}}]}

 ;; Some signals have different names in different blocks. This
 ;; setting tells the tool which signals are actually the same signal.
 ;; When entities are parsed, each signal in the list of signals on
 ;; the right is renamed to the signal on the left
 :merge-signals
 {"pll_rst" ["ddr_clkgen_reset_i" "pll_250_reset_o"]
  "clk_sys" ["clk_cpu" "clk_mem"]
  "clk_sys_90" ["clk_mem_90"]
  "clk_sys_2x" ["clk_mem_2x"]}

 ;; Supply a zero value for a list of global signals that aren't
 ;; output by devices in the design
 :zero-signals
 ["icache0_ctrl"
  "icache1_ctrl"
  "cache01sel_ctrl_temp"
  "dcache0_ctrl"
  "dcache1_ctrl"
  "dma_dbus_o"
  "cpu0_event_i"
  "cpu1_event_i"
  "debug_i"]

 :peripheral-buses
 {"cpu1" false}

 :system
 {:data-bus-decode :exact
  :dram [0x10000000 0x4000000]
  :pio
  {[0 7] {:name "led"}
   [8 15] {:name "sevensegment"}
   [16 18] {:name "sevensegmentenable"}
   [19 31] 0}}

 :soc
 {$include "../soc.edn"}

 ;; list entities, other than top, that should be instantiated at the
 ;; padring level
 :padring-entities {"pll_250" {:generics {"CLK_CPU_DIVIDE" CFG_CLK_CPU_DIVIDE}
                               :ports {"clk" "clk_100mhz"
                                       "clk_cpu" "clkgen_i"}}
                    "ddr_clkgen" {:ports {"clk_i" "clkgen_i"
                                          "clk0_o" "clk_sys"
                                          "clk90_o" "clk_sys_90"
                                          "clk2x_o" "clk_sys_2x"
                                          "locked" "clock_locked0"}}
                    "ddr_iocells" {:entity "ddr_phy"
                                   :configuration "ddr_phy_spartan6"
                                   :ports {"ck_p" "ddr_clk"
                                           "ck2x0" "clk_sys"
                                           "ck2x90" "clk_sys_90"}
                                   :generics {"READ_SAMPLE_TM" CFG_DDR_READ_SAMPLE_TM}}
                    "reset_gen" {:ports {"clock_locked1" 1}}}

 ;; list entities, other that the devices entity, that should be
 ;; instantiated at the top level
 :top-entities {"cpus" {:configuration "one_cpu_fpga"}
                "ddr_ram_mux" {:configuration "ddr_ram_mux_one_cpu_idcache_fpga"}
                "ddr_ctrl" {:entity "ddr_fsm"
                            :ports {"clk_2x" "clk_sys_2x"
                                    "clk" "clk_sys"
                                    "clk_90" "clk_sys_90"
                                    "fix_pinhi" 0
                                    "fix_pinlo" 0}
                            :generics {"READ_SAMPLE_TM" CFG_DDR_READ_SAMPLE_TM}}}

 :device-classes
 {$include "../common_device_classes.edn"}
 :devices
 [{:class "gpio"
   :base-addr 0xabcd0000
   :irq 4}
  {$include "../aic1_cpu0.edn"}
  {:class "spi"
   :name "flash"
   :base-addr 0xabcd0040
   :generics {"num_cs" 2}}
  {:class "uartlite"
   :name "uart0"
   :base-addr 0xabcd0100
   :irq 1
   :generics {"intcfg" 1
              "bps" 19.2e3}
   :dt-props {:current-speed (19200)
              :port-number (0)}
   :dt-stdout true}
  {:class "cache_ctrl"
   :base-addr 0xabcd00c0
   :irq {"int0" {:cpu 0 :irq 3}
         "int1" {:cpu 1 :irq 3 :dt? false}}}]}
