[submodule "boot"]
	path = boot
	url = ../bootrom
[submodule "components/cpu"]
	path = components/cpu
	url = ../jcore-cpu
[submodule "components/gps_if2"]
	path = components/gps_if2
	url = ../gnss-baseband
