{:class "aic"
 :name "aic1"
 :cpu 1
 :dt-node false
 :base-addr 0xabcd0500
 :generics {"c_busperiod" CFG_CLK_CPU_PERIOD_NS}
 :ports {"bstb_i" "cpu1_data_master_en"
         "back_i" "cpu1_data_master_ack"
         "enmi_i" 1
         "event_i" "cpu1_event_o"
         "event_o" "cpu1_event_i"}}
